body {
    background-color: #e2edfc;
    font-family: Calibri;
    margin: 50px;
}

.total-header {
    font-weight: bold;
}

.total-row, .total-column, .grand-total {
    font-weight: bold;
    text-align: center;
    background-color: #84a7cb;
    font-size: 14px;
}

.total-cell {
    text-align: center;
    font-size: 14px;
}

td {
    background-color: white;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 14px;
}

th {
    background-color: #84a7cb;
    font-size: 14px;
}

.plan-input {
    text-align: center;
    width: 100%;
    border: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.scrollable-table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

input {
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 12px;
}

input::placeholder {
    font-size: 10px;
    color: #888;
    text-align: center;
}

.kam-column, .client-column, .project-column, .group-column {
    width: 200px;
}

.kam-dropdown, .client-dropdown, .group-dropdown, .project-dropdown {
    width: 100%;
    border: 1px solid #ccc;
    color: #575151;
    padding: 0;
    border: 0;
    text-align: center;
}

.month, .total-row {
    width: 70px;
    max-width: 90px;
    min-width: 30px;
}

.kam-dropdown, .client-dropdown {
    text-align: left;
}